body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent scrolling */
    background-color: #f5f5dc; /* Cream background */
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: #ff1493;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}

#message {
    color: #ff69b4; /* A "love" color, pink */
    font-family: 'Pacifico', cursive; /* The "cute" font */
    font-size: 30px; /* Adjust size as needed */
}